.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 50px;
  justify-items: center;
  padding: 0 20px;
  padding-top: 60px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  min-width: 150px;
}

.footerTitle {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footerText {
  margin: 5px 10px;
  font-size: 0.9rem;
}

.footerInput {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #fff;
  background: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  font-size: 0.9rem;
}

.footerButton {
  margin: 5px 0;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media(max-width: 768px){
  .footerContainer{
    grid-template-columns: 1fr; 
  }
  .footerColumn{
    text-align: center;
    align-items: center;
  }
  .footerButton{
    width: 100%;
  }
}